@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

:root {
    --primary-color: #39afc2;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    font-size: 1rem;
}

.titleFont {
    font-family: 'Playfair Display', serif;
}

.primaryColor {
    color: var(--primary-color);
}

.big {
    font-size: 2rem;
}

.title {
    composes: titleFont primaryColor big;
}